.style_banner__xE8PO {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: calc(var(--1) * 40);
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.188);
  z-index: 100;
  background-color: var(--primary);
  text-align: center;
  transition: transform 0.5s ease-in-out;
}
.style_banner__xE8PO > div {
  padding-inline: calc(var(--1) * 0) !important;
}
.style_banner__xE8PO img {
  width: calc(var(--1) * 14) !important;
  height: calc(var(--1) * 14) !important;
}
@media (max-width: 991.98px) {
  .style_banner__xE8PO {
    height: calc(var(--1) * 30);
  }
  .style_banner__xE8PO p,
  .style_banner__xE8PO span {
    font-size: calc(var(--1) * 11) !important;
  }
  .style_banner__xE8PO img {
    width: calc(var(--1) * 12) !important;
    height: calc(var(--1) * 12) !important;
  }
}
.style_banner__xE8PO + header {
  top: calc(var(--1) * 40);
}
@media (max-width: 991.98px) {
  .style_banner__xE8PO + header {
    top: calc(var(--1) * 30);
  }
}
@media (min-width: 991.98px) {
  .style_banner__xE8PO + header + div + main > section:first-child {
    padding-top: calc(var(--1) * 200) !important;
  }
}
@media (max-width: 991.98px) {
  .style_banner__xE8PO + header + div + main > section:first-child {
    padding-top: calc(var(--1) * 150) !important;
  }
}
.style_banner__xE8PO.style_heroActive__gfqTg {
  transform: translateY(calc(var(--1) * -40));
}
.style_header__w9GaQ {
  position: fixed;
  width: 100%;
  top: calc(var(--1) * 0);
  left: 0;
  height: calc(var(--1) * 84);
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.188);
  z-index: 99;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.style_header__w9GaQ .style_logo__sBWEm {
  transition: 0.5s ease-in-out;
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ .style_nav__zIt6E a {
    transition: 0.5s ease-in-out;
  }
}
.style_header__w9GaQ.style_scrolled__0yBRC {
  backdrop-filter: blur(calc(var(--1) * 10));
  background-color: rgba(3, 13, 67, 0.376);
}
.style_header__w9GaQ:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  transform: translateY(calc(var(--1) * -84));
  transition: transform 0.2s ease-in-out 0.3s;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.188);
}
.style_header__w9GaQ.style_activeMega__Veh5T:after {
  transform: translateY(0);
}
.style_header__w9GaQ.style_heroActive__gfqTg {
  transform: translateY(calc(var(--1) * -40));
}
.style_header__w9GaQ.style_crActive__gmr4R .style_logo__sBWEm {
  color: var(--Dark, #031338) !important;
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ.style_crActive__gmr4R .style_nav__zIt6E a {
    color: var(--Blue, #0094ff) !important;
  }
}
@media (max-width: 991.98px) {
  .style_header__w9GaQ.style_crActive__gmr4R
    .style_right__MFhS6
    > div:first-child
    span {
    background-color: var(--Dark, #031338) !important;
  }
}
.style_header__w9GaQ.style_crActive__gmr4R.style_active__TEbWu
  .style_logo__sBWEm {
  color: var(--Base-White, #fff) !important;
}
@media (max-width: 991.98px) {
  .style_header__w9GaQ.style_crActive__gmr4R.style_active__TEbWu
    .style_right__MFhS6
    > div:first-child
    span {
    background-color: var(--Base-White, #fff) !important;
  }
}
.style_header__w9GaQ.style_crActive__gmr4R.style_activeMega__Veh5T
  .style_logo__sBWEm {
  color: var(--Base-White, #fff) !important;
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ.style_crActive__gmr4R.style_activeMega__Veh5T
    .style_nav__zIt6E
    a {
    color: var(--Base-White, #fff) !important;
  }
}
@media (max-width: 991.98px) {
  .style_header__w9GaQ.style_active__TEbWu:after {
    transform: translateY(0);
  }
}
.style_header__w9GaQ .style_container__68Ose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ .style_container__68Ose {
    gap: calc(var(--1) * 40);
  }
}
.style_header__w9GaQ .style_container__68Ose .style_left__A7rTv {
  display: flex;
  align-items: center;
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ .style_container__68Ose .style_left__A7rTv {
    flex: 1;
    justify-content: space-between;
  }
}
.style_header__w9GaQ
  .style_container__68Ose
  .style_left__A7rTv
  .style_logo__sBWEm {
  display: flex;
  color: var(--Base-White, #fff);
  font-size: calc(var(--1) * 32);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  position: relative;
  transform: translateY(calc(var(--1) * 5));
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul {
    display: flex;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li {
    padding: calc(var(--1) * 12) calc(var(--1) * 12);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a {
    color: var(--Base-White, #fff);
    font-size: calc(var(--1) * 16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: calc(var(--1) * 0.64);
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: calc(var(--1) * 4);
    cursor: pointer;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    .style_highlight__aEqwv {
    display: flex;
    width: calc(var(--1) * 8);
    height: calc(var(--1) * 8);
    background-color: #4fda74;
    border-radius: 50%;
    border: 1px solid #aeff9a;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    .style_new__X7svQ {
    display: flex;
    color: #4fda74;
    font-size: calc(var(--1) * 12);
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: calc(var(--1) * -0.2);
    border-radius: 999px;
    padding-inline: calc(var(--1) * 4);
    border: 0.5px solid #4fda74;
    padding-block: calc(var(--1) * 2) calc(var(--1) * 0);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    svg {
    width: calc(var(--1) * 18);
    height: calc(var(--1) * 18);
    transition: transform 0.5s ease-in-out;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a:hover {
    opacity: 0.8;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a.style_active__TEbWu {
    filter: drop-shadow(
      0 0 calc(var(--1) * 1) rgba(255, 255, 255, 0.5647058824)
    );
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a.style_megaOpen__LDpqQ
    svg {
    transform: rotate(180deg);
  }
}
@media (max-width: 991.98px) {
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E {
    position: absolute;
    left: 0;
    top: calc(var(--1) * 84);
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: calc(100dvh - var(--1) * 84);
    background-color: var(--primary);
    padding: 0 calc(var(--1) * 30);
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 40);
    transform: translateX(-101%);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navContent__bINGb {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 40);
    position: relative;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navContent__bINGb
    .style_megamenu__zRv8g {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transition: transform 0.5s ease-in-out;
    transform: translateX(200vw);
    pointer-events: none;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navContent__bINGb
    .style_megamenu__zRv8g
    ul
    li {
    padding: calc(var(--1) * 6) calc(var(--1) * 16);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navContent__bINGb
    .style_megamenu__zRv8g:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: var(--primary);
    z-index: -1;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navContent__bINGb
    .style_megamenu__zRv8g.style_active__TEbWu {
    transform: translateX(0);
    pointer-events: unset;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E.style_active__TEbWu {
    transform: translateX(0);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E.style_active__TEbWu
    .style_navContent__bINGb
    .style_megamenu__zRv8g {
    transform: translateX(100vw);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E.style_active__TEbWu
    .style_navContent__bINGb
    .style_megamenu__zRv8g.style_active__TEbWu {
    transform: translateX(0);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navBtns__3OqTq {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: calc(var(--1) * 16);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_megaInfo__vImQz {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 10);
    color: var(--white);
    position: relative;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_megaInfo__vImQz
    .style_megaInfoTitle__F8wS3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_megaInfo__vImQz
    .style_megaInfoTitle__F8wS3
    svg {
    rotate: -90deg;
    width: calc(var(--1) * 20);
    height: calc(var(--1) * 20);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_megaInfo__vImQz:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: calc(var(--1) * 320);
    min-height: 100%;
    transform: translateX(calc(var(--1) * 80));
    background-color: rgba(3, 19, 56, 0.12);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navTitle__TfVAA {
    padding: calc(var(--1) * 40) 0;
    color: var(--white);
    border-bottom: 1px solid rgba(3, 19, 56, 0.12);
    display: flex;
    gap: calc(var(--1) * 20);
    align-items: center;
    line-height: calc(var(--1) * 24);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_navTitle__TfVAA
    svg {
    width: calc(var(--1) * 24);
    height: calc(var(--1) * 24);
    rotate: 90deg;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul {
    display: flex;
    flex-direction: column;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li {
    padding: calc(var(--1) * 12) 0;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a {
    color: var(--Base-White, #fff);
    font-size: calc(var(--1) * 18);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: calc(var(--1) * 0.64);
    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: calc(var(--1) * 4);
    cursor: pointer;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    .style_highlight__aEqwv {
    display: flex;
    width: calc(var(--1) * 8);
    height: calc(var(--1) * 8);
    background-color: #4fda74;
    border-radius: 50%;
    border: 1px solid #aeff9a;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    .style_new__X7svQ {
    display: flex;
    color: #4fda74;
    font-size: calc(var(--1) * 12);
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: calc(var(--1) * -0.2);
    border-radius: 999px;
    padding-inline: calc(var(--1) * 4);
    border: 0.5px solid #4fda74;
    padding-block: calc(var(--1) * 2) calc(var(--1) * 0);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    svg {
    margin-left: auto;
    width: calc(var(--1) * 20);
    height: calc(var(--1) * 20);
    transform: rotate(-90deg);
    transition: transform 0.5s ease-in-out;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a
    .style_externalIcon__XS4i7 {
    transform: rotate(0) !important;
    width: calc(var(--1) * 20);
    margin-left: 0;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a:hover {
    opacity: 0.8;
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a.style_active__TEbWu {
    filter: drop-shadow(
      0 0 calc(var(--1) * 1) rgba(255, 255, 255, 0.5647058824)
    );
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    ul
    li
    a.style_megaOpen__LDpqQ
    svg {
    transform: rotate(90deg);
  }
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_comingSoonItem__d1__z {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 2);
    cursor: default;
    color: var(--white);
    font-size: calc(var(--1) * 18);
    font-weight: 700;
    line-height: normal;
    letter-spacing: calc(var(--1) * 0.64);
    align-items: flex-start;
  }
}
@media (max-width: 991.98px) and (max-width: 991.98px) {
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_comingSoonItem__d1__z {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 991.98px) {
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_comingSoonItem__d1__z
    .style_comingSoonLabel__wj_nI {
    font-size: calc(var(--1) * 11);
    color: #fff;
    text-transform: none;
    font-weight: 400;
    letter-spacing: calc(var(--1) * 0.2);
    display: none;
  }
}
@media (max-width: 991.98px) and (max-width: 991.98px) {
  .style_header__w9GaQ
    .style_container__68Ose
    .style_left__A7rTv
    .style_nav__zIt6E
    .style_comingSoonItem__d1__z
    .style_comingSoonLabel__wj_nI {
    font-size: calc(var(--1) * 8);
    letter-spacing: calc(var(--1) * -0.2);
  }
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ
    .style_container__68Ose
    .style_right__MFhS6
    .style_buyBtn__2Jmur {
    font-size: calc(var(--1) * 18);
    padding-block: calc(var(--1) * 18);
    padding-inline: calc(var(--1) * 32);
  }
}
@media (max-width: 991.98px) {
  .style_header__w9GaQ .style_container__68Ose .style_right__MFhS6 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: calc(var(--1) * 10);
  }
  .style_header__w9GaQ .style_container__68Ose .style_right__MFhS6 a {
    font-size: calc(var(--1) * 20);
    padding-inline: calc(var(--1) * 32);
  }
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ .style_megamenu__zRv8g {
    z-index: -2;
    position: absolute;
    top: calc(var(--1) * 84);
    width: 100%;
    background-color: var(--primary);
    padding-block: calc(var(--1) * 40) calc(var(--1) * 80);
    min-height: calc(var(--1) * 400);
    transform: translateY(calc(-100% - var(--1) * 84));
    transition: transform 0.5s ease-in-out;
    color: var(--white);
    display: flex;
  }
  .style_header__w9GaQ .style_megamenu__zRv8g .style_megaContainer__bBGgf {
    gap: calc(var(--1) * 160);
    display: flex;
    min-height: 100%;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaLeft__Q5T1G {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 20);
    height: 100%;
    flex: 423;
    position: relative;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaLeft__Q5T1G
    > a,
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaLeft__Q5T1G
    > button {
    margin-top: calc(var(--1) * 80);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaLeft__Q5T1G:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: calc(var(--1) * 320);
    min-height: 100%;
    transform: translateX(calc(var(--1) * 80));
    background-color: rgba(3, 19, 56, 0.12);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG {
    flex: 777;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--1) * 80);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 40);
    min-width: calc(var(--1) * 305);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    a {
    text-transform: unset;
    padding-bottom: calc(var(--1) * 4);
    display: flex;
    align-items: center;
    gap: calc(var(--1) * 4);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    a
    .style_new__X7svQ {
    display: flex;
    color: #abec8b;
    font-size: calc(var(--1) * 12);
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: calc(var(--1) * -0.2);
    border-radius: 999px;
    padding-inline: calc(var(--1) * 4);
    border: 0.5px solid #abec8b;
    padding-block: calc(var(--1) * 2) calc(var(--1) * 0);
    margin-left: calc(var(--1) * 4);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    a:after {
    height: 0;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    a:before {
    height: 1px;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    a.style_active__TEbWu:before {
    transform: translateX(0);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    a
    .style_externalIcon__XS4i7 {
    width: calc(var(--1) * 20);
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    .style_comingSoonItem__d1__z {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1) * 2);
    cursor: default;
    color: var(--white);
    font-size: calc(var(--1) * 16);
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    .style_comingSoonItem__d1__z
    .style_comingSoonLabel__wj_nI {
    font-size: calc(var(--1) * 11);
    color: var(--white);
    text-transform: none;
    font-weight: 400;
    letter-spacing: calc(var(--1) * 0.2);
    display: none;
  }
}
@media (min-width: 991.98px) and (max-width: 991.98px) {
  .style_header__w9GaQ
    .style_megamenu__zRv8g
    .style_megaContainer__bBGgf
    .style_megaRight__TeIRG
    .style_megaUl__D6HRu
    li
    .style_comingSoonItem__d1__z
    .style_comingSoonLabel__wj_nI {
    display: none;
  }
}
@media (min-width: 991.98px) {
  .style_header__w9GaQ .style_megamenu__zRv8g.style_active__TEbWu {
    transition: transform 0.5s ease-in-out 0.2s;
    transform: translateY(0);
    z-index: -1;
  }
  .style_header__w9GaQ
    .style_megamenu__zRv8g.style_active__TEbWu
    .style_megaLeft__Q5T1G:after {
    opacity: 1;
  }
}
@keyframes style_overlayEvent__JSddn {
  99% {
    pointer-events: none;
  }
  to {
    pointer-events: unset;
  }
}
@media (min-width: 991.98px) {
  .style_overlay__RmfUJ {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    background: rgba(0, 10, 30, 0);
    pointer-events: none;
  }
  .style_overlay__RmfUJ,
  .style_overlay__RmfUJ.style_active__TEbWu {
    transition: background 0.5s ease-in-out, backdrop-filter 0.3s ease-in-out;
  }
  .style_overlay__RmfUJ.style_active__TEbWu {
    animation: style_overlayEvent__JSddn 0.7s linear forwards;
    background: rgba(0, 10, 30, 0.502);
    backdrop-filter: blur(calc(var(--1) * 5));
  }
}
@media (max-width: 991.98px) {
  .style_overlay__RmfUJ {
    display: none;
  }
}
